body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background: #222;
}

.toon {
    text-align: center;
}

.name {
    font-size: 120px;
    line-height: 150px;
    margin-top: 115px;
    font-weight: bold;
}

.desc {
    font-size: 60px;
    line-height: 70px;
    margin-top: 15px;
}

#brew-toon-button {
    margin-top: 40px;
    text-align: center;
}

#brew-toon-button button {
    font-size: 14px;
    color: #fff;
    background:url(../img/button-up.png) no-repeat;
    cursor:pointer;
    border:none;
    width: 300px;
    height: 60px;
    background-size: 300px 60px;
    background-repeat: no-repeat;
}

#brew-toon-button button:active {
    color: yellow;
    background:url(../img/button-down.png);
    background-size: 300px 60px;
    background-repeat: no-repeat;
}

#brew-toon-button button:hover {
    color: yellow;
}
